[Unit]
Description=Compton Compsiting Manager
Requires=xorg.service
After=xorg.service

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/compton
