[Unit]
Description=Compton Compsiting Manager
Requires=xorg.target
After=xorg.target

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/compton
