[Unit]
Description=Runs Electricsheep as the desktop wallpaper on the given output
Requires=compton.service
After=compton.service

[Service]
ExecStart=/home/chaos/bin/electricsheep-desktop start %i

[Install]
WantedBy=default.target
