[Unit]
Description=i3 Window Manager
Wants=xresources.service
After=xresources.service

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/i3
