
[Unit]
Description=Gnome Polkit Authenticator
Requires=xorg.target
Wants=xorg.target
After=xorg.target

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/libexec/polkit-gnome-authentication-agent-1
