[Unit]
Description=Skype Webapp
Requires=xorg.service
After=xorg.service

[Install]
WantedBy=default.target

[Service]
ExecStart=/home/chaos/bin/skype
