[Unit]
Description=Skype Webapp
Requires=xorg.service
After=xorg.service

[Install]
WantedBy=default.target

[Service]
Environment="DISPLAY=:0"
ExecStart=/home/chaos/bin/skype
