[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
RemainAfterExit=true
ExecStart=/usr/bin/tmux start
ExecStop=/usr/bin/tmux kill-server

[Install]
WantedBy=default.target
