[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
RemainAfterExit=true
ExecStart=/usr/bin/tmux new-session -s "%i" -d
ExecStop=/usr/bin/tmux kill-session -t "%i" 

[Install]
WantedBy=default.target
