[Unit]
Description=X color management daemon
Requires=xorg.service
After=xorg.service

[Install]
WantedBy=default.target

[Service]
Environment="DISPLAY=:0"
ExecStart=/usr/bin/xiccd
