
[Unit]
Description=X resource loader
Requires=xorg.service
After=xorg.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/xrdb -load .Xresources

