
[Unit]
Description=X resource loader
Requires=xorg.service
After=xorg.service
Before=xorg.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/xrdb -load .Xresources

[Install]
WantedBy=xorg.target
