#define FOREGROUND #d0d0d0
#define BACKGROUND #000000
#define RGBABACKGROUND #000000cc
#define BACKGROUNDALT #555555
#define TRANSBACKDEC 80
#define HIGHLIGHT #0d68a8

#define COLOR00 #000000
#define COLOR08 #808080
#define COLOR01 #ff0000
#define COLOR09 #ff0000
#define COLOR02 #33ff00
#define COLOR10 #33ff00
#define COLOR03 #ff0099
#define COLOR11 #ff0099
#define COLOR04 #0066ff
#define COLOR12 #0066ff
#define COLOR05 #cc00ff
#define COLOR13 #cc00ff
#define COLOR06 #00ffff
#define COLOR14 #00ffff
#define COLOR07 #d0d0d0
#define COLOR15 #ffffff

! special
*.foreground:   FOREGROUND
*.background:   BACKGROUND
*.cursorColor:  COLOR07

! black
*.color0:       COLOR00
*.color8:       COLOR08

! red
*.color1:       COLOR01
*.color9:       COLOR09

! green
*.color2:       COLOR02
*.color10:      COLOR10

! yellow
*.color3:       COLOR03
*.color11:      COLOR11

! blue
*.color4:       COLOR04
*.color12:      COLOR12

! magenta
*.color5:       COLOR05
*.color13:      COLOR13

! cyan
*.color6:       COLOR06
*.color14:      COLOR14

! white
*.color7:       COLOR07
*.color15:      COLOR15

! Urxvt
URxvt*termName: xterm-256color
URxvt.background: [TRANSBACKDEC]BACKGROUND
URxvt.foreground: FOREGROUND
URxvt.scrollBar: false
URxvt.depth: 32
URxvt.secondaryWheel: false
URxvt.font: xft:Terminus:pixelsize=12,xft:Inconsolata\ for\ Powerline:pixelsize=12

! Rofi
rofi.opacity: TRANSBACKDEC
rofi.color-window: BACKGROUND,BACKGROUNDALT,BACKGROUNDALT
rofi.color-normal: BACKGROUND,FOREGROUND,BACKGROUND,HILIGHT,FOREGROUND
rofi.width: 50
rofi.lines: 5
rofi.columns: 1
rofi.font: SourceCodePro 9
rofi.bw: 2
rofi.loc: 0
rofi.padding: 2
rofi.yoffset: -2
rofi.xoffset: 0
rofi.fixed-num-lines: false
rofi.hmode: false
rofi.terminal: x-terminal-emulator
rofi.ssh-set-title: true

! i3 settings

i3wm.background: BACKGROUND

i3wm.focused.border: COLOR08
i3wm.focused.background: BACKGROUND
i3wm.focused.text: COLOR12
!i3wm.focused.indicator:	 #
i3wm.focused.childBorder: COLOR08

i3wm.inactive.border: COLOR08
i3wm.inactive.background: BACKGROUND
i3wm.inactive.text: FOREGROUND
!i3wm.inactive.indicator:	 #
i3wm.inactive.childBorder: COLOR08

i3wm.unfocused.border: BACKGROUND
i3wm.unfocused.background: BACKGROUND
i3wm.unfocused.text: FOREGROUND
!i3wm.unfocused.indicator:	 #
i3wm.unfocused.childBorder: BACKGROUND

i3wm.urgent.border:	 COLOR09
i3wm.urgent.background: BACKGROUND
i3wm.urgent.text: COLOR09
!i3wm.urgent.indicator:	 #
i3wm.urgent.childBorder: COLOR09

i3wm.placeholder.border: BACKGROUND
i3wm.placeholder.background: BACKGROUND
i3wm.placeholder.text: FOREGROUND
!i3wm.placeholder.indicator:	 #
i3wm.placeholder.childBorder: BACKGROUND

!i3bar
i3bar.background: 		RGBABACKGROUND
i3bar.status: 			FOREGROUND
i3bar.separator: 		FOREGROUND

i3bar.focusedBackground: 	RGBABACKGROUND
i3bar.focusedStatus: 		FOREGROUND
i3bar.focusedSeparator: 	FOREGROUND

i3bar.workspace.focused.border: 	BACKGROUND
i3bar.workspace.focused.background: 	BACKGROUND
i3bar.workspace.focused.text: 		COLOR12

i3bar.workspace.active.border: 		BACKGROUND
i3bar.workspace.active.background: 	BACKGROUND
i3bar.workspace.active.text: 		COLOR12

i3bar.workspace.inactive.border: 	BACKGROUND
i3bar.workspace.inactive.background: 	BACKGROUND
i3bar.workspace.inactive.text: 		FOREGROUND

i3bar.workspace.urgent.border: 		BACKGROUND
i3bar.workspace.urgent.background: 	BACKGROUND
i3bar.workspace.urgent.text: 		COLOR09

i3bar.bindingMode.border: 		COLOR09
i3bar.bindingMode.background: 		COLOR01
i3bar.bindingMode.text: 		FOREGROUND
